.btn {
    display: flex;
    align-items: center;
    background-color: #183835;
    position: relative;
    width: fit-content;
    margin: 1rem 0;
    cursor: pointer;
    gap: 1rem;
}

.fixed-btn-container {
        position: fixed;
        top: 14rem;
        left: 92%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
}

.btn {
    padding: 0.6rem 1rem; 
    border: none;
    background-color: #183835;
    color: rgb(220, 220, 220);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 14rem;
    transition: transform 0.5s ease-in-out;
    font-family: inherit;
    cursor: pointer !important;
    font-size: 1rem; 
    width: 140px;
}

.contact-us a {
    margin-left: 2rem !important;
    text-align: center;
    cursor: pointer;
}
.btn a {
    color: rgb(220, 220, 220);  
    margin-left: 1.6rem; 
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.02);  
}

.fixed-btn-icon {
    position: absolute;
    left: -0.2rem;
    font-size: 2.3rem;
}

@media only screen and (max-width: 600px){
    .fixed-btn-container {
        position: fixed;
        top: 14rem;
        left: 65%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
}  
.fixed-btn-icon {
    position: absolute;
    left: -0.3rem;
    font-size: 2.9rem;
}

.btn {
    font-size: 1.3rem; 
    width: 52vw;
    letter-spacing: 1.1px;
}
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .fixed-btn-container {
        position: fixed;
        top: 14rem;
        left: 88%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
}    
}