.services {
    padding: 6rem 6rem;
    /* background-color: #18383506; */
}
.service-title h2 {
    width: 25vw;
    color: #183835;

}
.services-content {
    margin-top: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.3rem;
}

.service-box {
    background-color: #ebebeb04;
    width: 38vw;
    color: #183835;
    padding: 1.2rem;
    border-radius: 0.3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 0.9rem 0;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.service-box:hover {
    transform: scale(1.02); 
}


.service-box h4 {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
}

.service-box p {
    font-size: 1rem;
    color: #767676;
}

.number {
    position: absolute;
    top: -0.6rem;
    color: #183835;
    left: -0.2rem;
    font-size: 1.3rem;
    font-weight: 800;
    background-color: #183835;
    border-radius: 50%;
    padding: 0.7rem;
    width: 5px;
    height: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
}

.number p {
    margin-left: -2px;
    margin-top: -2px;
    color: #dbdbdb;
}


@media only screen and (max-width: 600px) {
    .services {
        padding: 6rem 1rem;
    }
    .service-title h2 {
        width: 75vw;
        color: #183835;
    }  

    .divider{
        display: none;
    }

    .services-content {
        margin-top: 1.9rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
    }

    .service-box {
        width: 80vw;
    }

    .service-box h4 {
        font-size: 1.2rem;
    }
}
    .service-box p{
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .services-content {
        margin-top: 1.5rem;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        gap: 1rem;
    } 

    .service-box {
        width: 39vw;
    }

    .services {
        padding: 5rem 2rem;
    }

    .service-title h2 {
        width: 75vw;
    }  
}