.pricing-container {
    padding: 5rem 6rem;
}

.pricing-cards-container{
    display: flex;
    gap: 1rem;
    /* flex-wrap: wrap;
    justify-content: space-between; */
}
.pricing-title h3 {
    font-weight: 700;
    margin-bottom: 2rem;
}

.p-card{
    background-color: #ebebeb04;
    width: 18vw;
    color: #183835;
    padding: 1.2rem;
    border-radius: 0.3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 0.9rem 0;
    transition: transform 0.3s ease-in-out;
}

.p-card:hover {
    transform: scale(1.09);  
}

.p-card h4 {
    margin-bottom: 0.6rem;
}


.p-card  p {
    font-size: 0.78rem;
    font-weight: 100;   
}

.price-text {
   margin-bottom: 0.8rem;
}

.highlighted {
    font-weight: 700;
    color: #183835;
    font-size: 0.9rem;
}

.price-link {
    margin: 1.3rem 0;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    width: fit-content;
   border: 1.4px solid #183835;
   color: #183835;
   padding: 0.35rem 0.7rem;
   font-size: 0.8rem;
   border-radius: 2rem;
   position: relative;
   width: 7vw;
   transition: transform 0.3s ease-in-out;
}

.price-link:hover {
    transform: scale(1.09); 
    background-color: #183835;
    color: #f0f0f0;
}

.pricing-icon {
    position: absolute;
    left: -0.3rem;
    font-size: 2.1rem;
}

.price-link-text {
    margin-left: 1.4rem;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1.3rem;
}

.card-list  p {
    font-size: 1rem;
}

.card-list li {
    display: flex;
    align-items: center;
    font-size: 0.78rem;
    gap: 0.5rem;
}

.price-check-icon {
    color: #183835;
}

.other-services {
    margin-top: 2.5rem;
    background-color: #f7f7f7;
    border-radius: 0.3rem;
}

.other-services-header {
    background-color: #183835;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    padding: 1rem;
    color: #f0f0f0;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title p {
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 200;
}

.other-services-btn {
    color: #f0f0f0;   
    border: 1.4px solid #f0f0f0;
    width: 9vw;
}

.other-service-content {
    padding: 0.3rem 1rem 1rem 1rem;  
    display: flex; 
    gap: 1rem;
    justify-content: space-between;
}
.other-service-content-card p {
    margin: 1rem 0;
    color: #183835;
    font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
    .pricing-container {
        padding: 5rem 1rem;
    } 

    .pricing-cards-container{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .p-card{
        width: 80vw;
    }

    .p-card  p {
        font-size: 0.9rem;
        font-weight: 100;   
    }

    .price-link {
       width: 28vw;
       font-size: 1rem; 
    }

    .p-card p {
        font-size: 1rem;
    }

    .card-list p {
        font-size: 1rem;  
    }
   
    
    .card-list li {
        font-size: 1rem;
    }
    
    .other-services-header {
        flex-direction: column;
    }
    .title,
    .other-service-content-card {
        width: 80vw;
        font-size: 1rem;  
    }

    .other-services-btn {
        width: 40vw;  
    }
    
    .title p {
        font-size: 1rem;
    }

    .other-service-content {
        margin-bottom: -3.3rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .pricing-container {
        padding: 5rem 2rem;
    }  
    .pricing-cards-container{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    } 
    .p-card{
        width: 39vw;
    }

    .other-service-content {
        margin-bottom: -3.3rem;
    }

    .other-services-btn {
        width: 13vw;  
    }

    .price-link {
        width: 15vw;
        font-size: 1rem; 
     }
}