.pillars-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.pillar-img {
    width: 28vw;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #183835;
    border-radius: 0.2rem;
    transition: transform 0.5s ease-in-out;
}
.pillar-img:hover {
    transform: scale(1.04); 
}
.pillar-img img {
   width: 100%;
   border-radius: 0.2rem;
}

.abt-pillars {
    width: 65vw;
    box-sizing: border-box;
    padding: 1rem;  
}

.abt-pillars h3 {
    font-weight: 600;
    font-size: 1.2rem; 
    margin-bottom: 1.7rem;
}

.abt-pillar-desc {
    margin-top: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 0.9rem 1.2rem;  
    border-radius: 0.2rem;
    transition: transform 0.5s ease-in-out;
}

.abt-pillar-desc:hover {
    transform: scale(1.04); 
}

.abt-pillar-desc p {
    font-size: 1rem;
    color: #5c6060;
    margin-top: 0.7rem;
}

@media only screen and (max-width: 600px) {
    .pillars-content {
        flex-direction: column-reverse;
        gap: 1rem;
        align-items: center;
    }

    .abt-pillars {
        width: 95vw; 
        padding: 0.5rem;
    }

    .pillar-img {
        width: 90vw; 
    }
    .abt-pillar-desc {
        margin: 1.4rem 0;
    }

    .abt-pillar-desc p {
        font-size: 1.1rem;
    }

    .abt-pillar-desc h4 {
        font-size: 1.2rem;  
    }

    .abt-pillars h3 {
        font-size: 1.3rem; 
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .pillar-img {
        width: 55vw; 
    }
    .abt-pillars {
        width: 65vw; 
        box-sizing: border-box;
    }
    .abt-pillars {
        padding: 0;  
    }
  }