.abt {
    padding: 1rem 6rem;
    margin-top: 2rem;
}

.abt-title{
display: flex;
align-items: center;
justify-content: space-between;
gap: 1.2rem;
}

.abt-title h3 {
    font-weight: 700;
    color: #183835;
    font-size: 1.7rem;  
}

.abt-divider {
    height: 1px;
    border: none;
    width: 80%;
    background-color: #0d231f0a;
    display: block;
}

.abt-content {
    margin: 1rem 0;
}

.abt-content p {
    margin: 0.5rem 0;
    color: #183835;
    font-size: 1.1rem;
    line-height: 24px;
}


/* Pillars  */

.our-pillars {
    margin: 2.2rem 0;
}

@media only screen and (max-width: 600px) {
    .abt {
        padding: 1rem;
        margin-top: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }   

    .abt-divider {
        width: 80%;
    }

    .abt-title h3 {
        width: 86vw;
        font-size: 1.3rem;
        margin-bottom: 0.6rem;
    }
    
.abt-content p {
    font-size: 1.1rem;
}
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .abt{
        padding: 1rem 2rem;
    }

    .abt-title h3 {
        width: 66vw;
        font-size: 1.3rem;
    }
  }