.intro-container {
    padding: 6rem 6rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 2rem;
    color: #183835;
}

.intro-card {
    border-radius: 0.3rem;
    height: fit-content;
    margin-top: 2.5rem;
    box-sizing: border-box;
    position: relative;
}
.card-content {
    width: 75vw;
    padding: 1.5rem;
    height: 66vh;
}

.card-img {
    width: 29vw; 
    overflow: hidden;
    height: 66vh;
    position: relative;
}

.card-img img {
    width: 100%;
    display: block;
    border-radius: 0.3rem;
}

.tag-text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    width: 80%;
    padding: 0.6rem 0.9rem;
    border-top-left-radius: 1.5rem;
    font-size: 1rem; 
    padding-left: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.services-list {
margin-top: 1rem;
display: flex;
flex-direction: column;
gap: 0.8rem;
position: relative;
}

.services-title {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    justify-content: space-between;
    width: 30vw;
}

h1 {
    color: #183835;
    font-size: 4rem;
    font-weight: 500;
}

.s-title {
    font-weight: 300;
    font-size: 1.6rem;
    font-weight: 500;
}

.services-title h3 {
    margin-bottom: 0.5rem;
}

.services-icon {
    display: flex;
    align-items: center;
    margin-top: -4px;
}

.icon {
    color: #183835;
    cursor: pointer;
    font-size: 0.7rem;
    
}
.service-descriptions{
    max-height: 0;
    overflow: hidden;
    transition: max-height 700ms ease-in-out;
    background-color: #fbfdfd;
    position: absolute;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 2px;
    width: 100%;
}

.service-descriptions.show {
    max-height: 1000px; 
  }

.service-descriptions p {
    margin: 0.7rem 0;
    border-top: 1px solid rgba(228, 228, 228, 0.557);
    padding: 0.5rem ;
    font-size: 1rem;
}

.contact-form {
display: flex;
align-items: center;
gap: 1.8rem;
margin-top: 1.3rem;

}

.contact-form input {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgb(24, 56, 53) 0px 0px 0px 1px;
    padding: 0.6rem 1rem;
    outline: none;
    font-family: inherit;
    width: 22vw;
    background-color: transparent;
    border: none;
    font-size: 1.1rem; 
    border-radius: 0.2rem;
}

.contact-form input::placeholder{
    color: #183835; 
    font-size: 1rem; 
}


.contact-form button {
    padding: 0.6rem 1rem; 
    border: none;
    background-color: #183835;
    color: rgb(220, 220, 220);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 14rem;
    transition: transform 0.5s ease-in-out;
    font-family: inherit;
    cursor: pointer !important;
    width: 14vw;
    font-size: 1.1rem; 
}

.contact-form button:hover {
    cursor: pointer;
    transform: scale(1.02);  
}

.success-box {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 1rem;
    position: absolute;
    bottom: 2.7rem;
    left: 1.1rem;
    z-index: 4000;
    background-color: #fff;
    color: #148937;
    text-align: center;
}

.wait-btn {
  border: 2px solid #0c5221 !important;  
  background-color: #fff !important; 
  color: #183835 !important;
}

@media only screen and (max-width: 600px) {
    .intro-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        padding: 5rem 6rem;
        padding-top: 6rem;
    }

    .intro-card {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        border-radius: 0.3rem;
        height: fit-content;
        margin-top:1rem;
    }

    .card-img {
        width: 90vw; 
        height: 50vh;
        margin-top:2.6rem;
    }

    .card-content {
        width: 90vw;
        box-sizing: border-box;
    }

    .tag-text {
        font-size: 1.1rem;
    }

    .contact-form input {
        font-family: inherit;
        width: 70vw;
        font-size: 1.1rem;
    }
    .contact-form {
        flex-direction: column;
    }

    .contact-form button {
       width: 78vw; 
       padding: 0.7rem 0.8rem; 
       font-family: inherit;
       font-size: 1.1rem;
    }

    .services-title {
        width: 60vw;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .intro-container {
        padding: 3rem 2rem;
    }
    .card-content {
        width: 98vw;
        box-sizing: border-box;
        height: 36vh;
    }

    .card-img {
        width: 50vw; 
        height: 36vh;
        box-sizing: border-box;
    }

    .contact-form button {
        width: 22vw; 
        padding: 0.7rem 0.8rem; 
        font-family: inherit;
     }

     h1 {
        color: #183835;
        font-size: 2.5rem;
        font-weight: 500;
    }
    
    h3 {
        font-weight: 300;
        font-size: 1.3rem;
        font-weight: 500;
    }
    .services-title {
        width: 40vw;
    }

    .card-img img {
        height: 36vh;
        display: block;
        border-radius: 0.3rem;
    }
  }
  