nav {
    font-family: "Familjen Grotesk", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding: 0.7rem 3rem;
    background-color: #183835;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 2000;
}
.logo-container img {
    display: block;
    width: 100px;
}


.nav-item-list,
.nav  {
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.nav-item-list li a {
    color: #dedede;
    letter-spacing: 1px;
    transition: font-size 0.6s ease, color 0.6s ease;
}
.nav-item-list li a:hover {
    color: #3fa2f6;
    font-size: 1.3rem;
}



.focus:active{
    color: #3fa2f6;
}

.contant-link {
    color: #dedede;   
}

.contant-btn {
    border: 1px solid #ffffff;
    width: 3.5rem;
    padding: 0.4rem 1rem;
    border-radius: 4rem;
    text-align: center;
    transition: border-color 0.6s ease, color 0.6s ease;
}

.contant-btn:hover {
    border: 1px solid #3fa2f6;
    color: #3fa2f6;
}

.contant-btn span {
   display: block;
   letter-spacing: 1px;
}


/* Drop Down navbar  */
.hambarger,
.drop-down-navbar {
    color: #fbfdfd;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    margin-top: 0.3rem;
}

.drop-navbar {
    position: absolute;
    background-color: #183835;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 18vw;
    padding: 1rem;
    border-radius: 0.2rem;
    display: none;
    z-index: 1000;
}

.drop-navbar.visible {
    display: block;
  }

.nav-dropdowns {
    flex-direction: column;
    gap: 1.7rem;
    align-items: center;
    justify-content: center;
}

.dropdown-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    cursor: pointer;
}

.drop-down-items a:hover {
    color: #3fa2f6 !important;
}

.dropdown-contactbtn {
    border: 1px solid #ffffff;
    width: 3.5rem;
    padding: 0.4rem 1rem;
    border-radius: 4rem;
    text-align: center;
    transition: border-color 0.6s ease, color 0.6s ease;
    color: #fbfdfd;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 0.2rem;
    border-bottom-left-radius: 12rem;
}
.close-btn-icon {
    color: #ff0000;
    font-size: 1.3rem;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    nav {
        padding: 0.8rem 1rem;
    }
    .logo-container img {
        display: block;
        width: 120px;
    }
    .nav  {
        display: none;
    }

    .hambarger,
    .drop-down-navbar {
        display: block;
    }

    .drop-navbar {
        width: 50vw;
        padding: 1.3rem;
        margin-top: 1.2rem;
    }

    .dropdown-link {
        margin-top: 1.5rem;
    }

    .nav-item-list li a {
       font-size: 1.1rem;
    }

    .dropdown-contactbtn span {
        font-size: 1.1rem;
     }

     .dropdown-contactbtn {
        width: 4rem;
    }
     
    
  }

  @media only screen and (min-width: 600px) and (max-width: 1000px) {
    nav {
        padding: 0.5rem 2rem;   
    }
  }