footer {
    padding: 1rem 3rem;
    background-color: #183835;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.footer-logo img {
    width: 100px;
    display: block;
    margin-top: -0.7rem;
}

.footer-logo p {
    color: #dededee1; 
    margin-top: 0.7rem;
    font-weight: normal;
    font-size: 1.1rem;
}

.footer-links {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-links li a{
    color: #dededee1;
    font-size: 1rem;
    transition: font-size 0.6s ease, color 0.6s ease;
    letter-spacing: 1px;
    font-weight: 300;
}

.navigate-links {
   margin: 0.5rem 0;
}


.footer-links li a:hover {
    color: #3fa2f6;
    font-size: 1.1rem;
}

footer h4 {
    color: #e6e6e6e1;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}

.ctc-links {
    margin: 1.2rem 0;
    width: fit-content;
    box-sizing: border-box;
}

.ctc-links a {
    color: #dededee1;
    letter-spacing: 1px;
    border: 1px solid  #dededee1;
    width: fit-content;
    padding: 0.35rem 1rem;
    border-radius: 4rem;
    transition: transform 0.5s ease-in-out;
    position: relative;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
}

.ctc-links:hover {
    transform: scale(1.02);  
    color: #3fa2f6;
}

.ctc-link-text {
    margin-left: 1.5rem;
}

.social-icon {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.social-icon li a {
   font-size: 1.3rem;
}

.ctc-icon {
    font-size: 2.5rem;
    position: absolute;
    left: -0.3rem;
    top: -0.3rem;
}

@media only screen and (max-width: 600px) {
    footer {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        align-items: center;
    }  

    .footer-logo,
   .footer-links{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.2rem;
    }
    .footer-logo img {
        width: 110px;
        display: block;
        margin-top: -0.7rem;
    }

    .footer-logo p {
        line-height: 1.3rem;
        text-align: center;
        font-size: 1.2rem;
    }

    footer ul {
        width: 36vw;
        text-align: center;
    }

    .footer-links,
    .footer-logo {
        width: 40vw;
    }
    .ft {
        width: 40vw;  
    }

    .ft-socials {
        width: 78vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ft h4,
    .footer-links h4 {
        text-align: center;
        font-size: 1.2rem;
    }
  
    .ft-icons {
        width: 40vw;
    }

    .ft-icons h4 {
        margin-bottom: 0.7rem;
    }

    .ctc-links {
        margin-top: 0.5rem;
       position: relative;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .ctc-icon {
        font-size: 3rem;
        position: absolute;
        left: -0.3rem;
        top: -0.2rem;
    }

    .footer-links li{
      margin: 0.2rem;
    }
    .social-icon li a{
        font-size: 1.4rem;
    }
    .social-icon li a:hover{
        font-size: 1.4rem;
    }

.ctc-links a {
    display: block;
        width: 48vw !important;
        padding: 0.6rem 1rem;
    }
}