@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 1rem;
  font-family: "Familjen Grotesk", sans-serif;
  color: #414141;
  box-sizing: border-box;
}